<section class="slide whiteSlide" data-title="Slide #27 (27)" data-name="slide-27-a30070b8">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex  ">
                        <li class="fix-5-12 left">
                            <div class="left margin-bottom-7 ">
                                <a href="#" title="Slides Framework">
                                    <img src="../../../assets/svg/art-gallery-logo.svg">
                                </a>
                            </div>
                            <h1 class="smaller fromleft margin-bottom-4 ">Museum of Berlin Art</h1>
                            <p class=" margin-bottom-5 opacity-5 fromleft" style="font-size: 27px" >Museum is the place for future artist with futuristic vision. Our free platform, supported by&nbsp;the government offers the best conditions as for artworks and artists&nbsp;itself.</p>
                            <p class="larger">Berlin, Germany<br>st. Haufenstrasse 11A<br><br>berlin@art.com<br>+ 1-123-456-78-90</p>

                        </li>
                        <li class="fix-7-12 cell-27 right">
                            <h1 class="smaller fromleft margin-bottom-4 ">Instagram</h1>
                            <h1 class="smaller fromleft margin-bottom-4 ">Telegram</h1>
                            <h1 class="smaller fromleft margin-bottom-4 ">Twitter</h1>
                            <h1 class="smaller fromleft margin-bottom-4 ">Youtube</h1>
                            <h1 class="smaller fromleft margin-bottom-4 ">Snapchat</h1>
                            <h1 class="smaller fromleft margin-bottom-4 ">Behance</h1>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>