//- ::: include PUG/JS Functionality ::: -//

//- 1.Funciones Globales PUG [ Functions ]
include ../functions/+global

//- 2.Variables Globales PUG [ Data ]
include ../data/global
include ../data/_category
include ../data/_product

//- 3.Componentes Globales PUG [ Components ]
include ../components/+mixins

//- 4.Plugins Globales PUG [ Plugins ]
include ../plugins/libraries++



//- ::: Website HTML5 ::: -//
<!doctype html>
<html lang="es">
<head>

    //- Metadata
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    //- Material Icons
    <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&amp;family=Material+Icons&amp;display=swap" id="js-google-fonts">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    //- Eyelash Title
    <title>Pagina 2</title>
    //- CSS Styles [ Assets ]
    <link rel="stylesheet" href="../../../assets/css/style.css">

    //- Jquery 3.5.6

    <script type="text/javascript" src="./../../assets/js/jquery.js"></script>
    //- Slide 5.2.0
    <script type="text/javascript" src="./../../assets/js/slides.js"></script>
    //- Plugins
    <script type="text/javascript" src="./../../assets/js/plugins.js"></script>
    //- Global Functions JS [ Scripts ]
    <script type="text/javascript" src="./../../assets/js/global.js" defer></script>

</head>

<body class="scroll smoothScroll animateOnEvent">

include ../includes/navbar2
include ../includes/sidebar2