<nav class="panel top forceMobileView">
    <div class="sections desktop">
        <div class="left">
            <a href="#">
                <img src="../../../assets/svg/art-gallery-search.svg">
            </a>
        </div>

        <div class="center">
            <a href="#" title="Slides Framework">
                <img src="../../../assets/svg/art-gallery-logo.svg">
            </a>
        </div>

        <div class="right md-20 weight-6">
            <a class="text-red" href="#">English</a>
            <span class="" >&nbsp;/&nbsp;</span>
            <a class="" href="#"> Deutsche</a></div>
    </div>
</nav>