<nav class="panel top white">
    <div class="fix-12-12">
        <div class="sections desktop">
            <div class="left">
                <a href="#" title="Slides Framework">
                    <svg style="width:82px;height:24px"><use href="../../../assets/svg/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                    <p>App Name</p>
                </a>
            </div>
            <div class="center">
                <ul class="menu font-size-30 uppercase" >
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="right"><a class="rounded small uppercase" href="#">Get an Account</a></div>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg style="width:82px;height:24px"><use href="../../../assets/svg/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p>App Name</p>
                <!--<svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#logo"></use></svg>-->
            </a>
        </div>
        <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="default">
                <i class="material-icons">menu</i>
                <!--<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#menu"></use></svg>-->
            </span>
        </div>
    </div>
</nav>

