
include ../../includes/head2

//- Parte1
<section class="slide whiteSlide" data-title="Slide #68 (69)" data-name="slide-69-ceb1ab20">
    <div class="content">
        <div class="container">
            <div class="wrap ae-1">
                <div class="fix-10-12 table" style="background-image: url(../../../../assets/img/homepage/pag2/art-gallery-1.jpg);background-repeat: no-repeat;background-size: contain;background-position: center;">
                    <div class="cell">
                        <h1 class="" style="font-size: 90px;">Museum of Berlin Art <br>September 23</h1>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

//- Parte 2
<section class="slide whiteSlide" data-title="Slide #17 (17)" data-name="slide-17-87a736d1">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces">
                        <li class="fix-5-12">
                            <div class=" margin-bottom-tablet-4 ae-3" >
                                <img class="wide "src="../../../../assets/img/homepage/pag2/art-gallery-2-1.jpg" alt="Video Thumbnail" />
                            </div>
                            <h1 class="smaller underline " style="margin-top: 30px; text-align: left  " >The Unknown Authors of Modern Rome&nbsp;Empire</h1>
                        </li>
                        <li class="fix-5-12">
                            <h1 class="smaller underline" style="text-align: right; margin-bottom: 30px" >Missing Geniuses on the Streets of&nbsp;Melbourne</h1>
                            <div class="margin-bottom-tablet-4 ae-3" >
                                <img class="wide" src="../../../../assets/img/homepage/pag2/art-gallery-2-2.jpg" alt="Video Thumbnail"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

//- Parte 3
<section class="slide" data-title="Slide #22 (22)" data-name="slide-22-0c65da14">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-10-12">
                    <div class="relative">
                        <div class="leftControl-82 fromLeft done" data-slider-id="22-22" data-slider-action="prev">
                            <i class="material-icons md-48" style="color: #f44336">arrow_back_ios</i>
                        </div>
                        <div class="rightControl-82 fromRight done" data-slider-id="22-22" data-slider-action="next">
                            <i class="material-icons md-48" style="color: #f44336">arrow_forward_ios</i>
                        </div>
                        <!-- slider -->
                        <ul class="slider margin-top-4 clickable ae-1" data-slider-id="22-22">
                            <li class="wide selected ae-3">
                                <img src="../../../../assets/img/homepage/pag2/art-gallery-3-1.jpg" class="wide" alt="Image"/>
                                <h1 class="ae-1 fromCenter" style="color: #f44336; margin-top: 20px" >Paint on Paint / Sofia&nbsp;Palese</h1>
                            </li>
                            <li class="wide ae-3">
                                <img src="../../../../assets/img/homepage/pag2/art-gallery-3-2.jpg" class="wide" alt="Image"/>
                                <h1 class="ae-1 fromCenter" style="color: #f44336; margin-top: 20px">Art Progress / J+B</h1>
                            </li>
                            <li class="wide ae-3">
                                <img src="../../../../assets/img/homepage/pag2/art-gallery-3-3.jpg" class="wide" alt="Image"/>
                                <h1 class="ae-1 fromCenter" style="color: #f44336; margin-top: 20px">Decompression Collection</h1>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(../../../../assets/img/homepage/pag2/background/art-gallery-3.jpg)"></div>
</section>

//-parte4

<section class="slide whiteSlide" data-title="Slide #27 (27)" data-name="slide-27-a30070b8">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex  ">
                        <li class="fix-6-12 cell-27">
                            <div class="fix-6-12 ae-3">
                                <ul class="slider clickable ae-1 fromAbove" data-slider-id="27-27">
                                    <li class="selected"><img src="../../../../assets/img/homepage/pag2/art-gallery-4-1.jpg" alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="../../../../assets/img/homepage/pag2/art-gallery-4-3.jpg" alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="../../../../assets/img/homepage/pag2/art-gallery-4-4.jpg"  alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="../../../../assets/img/homepage/pag2/art-gallery-4-5.jpg"  alt="Apple Watch Thumbnail"/></li>
                                </ul>
                                <ul class="controller ae-2 " data-slider-id="27-27">
                                    <li class="dot selected"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="fix-5-12 left ae-3">
                            <div class="relative margin-bottom-10 ">
                                <img src="../../../../assets/img/homepage/pag2/art-gallery-4-2.jpg" class="round app-27 ae-3 fromRight " alt="app"/>
                            </div>
                            <h1 class="smaller fromleft margin-bottom-4 ">Member Previews: Federico&nbsp;Eboncelli</h1>
                            <p class=" margin-bottom-5 opacity-5 fromleft" style="font-size: 27px" >The last day of every major exhibition is reserved just for members. Take advantage of&nbsp;a&nbsp;final opportunity to discover how Federico?s iconic photographs speak to the human condition and tell stories that continue to inspire us&nbsp;today.</p>
                            <h1 class="small">Saturday <br>September&nbsp;20 <br>10:30&nbsp;AM - 6:00&nbsp;PM</h1>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

//- Parte5
<section class="slide whiteSlide" data-title="Slide #17 (17)" data-name="slide-17-87a736d1">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 ae-3">
                    <ul class="flex fixedSpaces">
                        <li class="fix-5-12">
                            <div class=" margin-top-18 margin-bottom-tablet-4" >
                                <img class="wide "src="../../../../assets/img/homepage/pag2/art-gallery-3-2.jpg" alt="Video Thumbnail" />
                            </div>
                            <h1 class="smaller" style="margin-top: 30px; text-align: center  " >Art Progress /&nbsp;J+B</h1>
                        </li>
                        <li class="fix-6-12">
                            <h1 class="smaller" style="text-align: center; margin-bottom: 30px" >Simons? Dreams</h1>
                            <div class="margin-bottom-tablet-4" >
                                <img class="wide" src="../../../../assets/img/homepage/pag2/art-gallery-4-3.jpg" alt="Video Thumbnail"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

///- Parte 6

<section class="slide whiteSlide" data-title="Slide #17 (17)" data-name="slide-17-87a736d1">
    <div class="content">
        <div class="container">
            <div class="wrap ae-3">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces">
                        <li class="fix-6-12">
                            <h1 class="smaller" style="text-align: center; margin-bottom: 30px" >Animals Collection</h1>
                            <div class="margin-bottom-tablet-4" >
                                <img class="wide" src="../../../../assets/img/homepage/pag2/art-gallery-6-1.jpg" alt="Video Thumbnail"/>
                            </div>
                        </li>
                        <li class="fix-5-12">
                            <div class=" margin-top-9 margin-bottom-tablet-4" >
                                <img class="wide "src="../../../../assets/img/homepage/pag2/art-gallery-6-2.jpg" alt="Video Thumbnail" />
                            </div>
                            <h1 class="smaller" style="margin-top: 30px; text-align: center  " >Decompression <br>Collection</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

//-parte 7

<section class="slide whiteSlide" data-title="Slide #75 (75)" data-name="slide-75-1ca25e8a">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-75  ae-3  noText" data-popup-id="75-75">
                        <li class="col-4-12 ae-6 fadeIn">
                            <h1 class="smaller" style="text-align: left; margin-bottom: 35px" >Artwork Shop</h1>
                            <img src="../../../../assets/img/homepage/pag2/art-gallery-7-1.jpg" class="wide margin-bottom-2" data-slider-id="75-75" data-slider-action="0" alt="Image"/>
                            <h4>The Night Over the Lake</h4>
                            <p class="opacity-5 large" >by <a class="underline" >Federico Gavanski</a></p>
                            <img src="../../../../assets/img/homepage/pag2/art-gallery-7-2.jpg" class="wide margin-bottom-2" data-slider-id="75-75" data-slider-action="1" alt="Image"/>
                            <h4>Percentage Declined</h4>
                            <p class="opacity-5 large">by <a class="underline" >Mia Levacci</a></p>
                        </li>
                        <li class="col-4-12 ae-3 fadeIn">
                            <h4>Autumn Mood Savage</h4>
                            <p class="opacity-5 large">by <a class="underline">Pedro Huedro</a></p>
                            <img src="../../../../assets/img/homepage/pag2/art-gallery-7-3.jpg" class="wide margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                        </li>
                        <li class="col-4-12 ae-2 fadeIn">
                            <img src="../../../../assets/img/homepage/pag2/art-gallery-7-4.jpg" class="wide margin-bottom-2" data-slider-id="75-75" data-slider-action="3" alt="Image"/>
                            <h4>Morphium Inside Out</h4>
                            <p class="opacity-5 large">by <a class="underline" >Emilio Bruno Jr.</a></p>
                            <img src="../../../../assets/img/homepage/pag2/art-gallery-7-5.jpg" class="wide margin-bottom-2" data-slider-id="75-75" data-slider-action="4" alt="Image"/>
                            <h4>No Aids, Only Gucci Plates</h4>
                            <p class="opacity-5 large">by <a class="underline" >Iordana Fera</a></p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>





//- Script JavaScript Zone
script
include ../../scripts/console.js

include ../../includes/footer2